In [1]:
import os
os.chdir(r'C:\Users\Anant Awasthi\Desktop\Desktop\PySpark')

### Initiate a Spark Session

In [2]:
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Spark').getOrCreate()
spark

### Import a CSV

In [9]:
df_pyspark = spark.read.csv("C:/Users/Anant Awasthi/Desktop/Desktop/PySpark/Data/2020-02-08_data.csv", sep="|", header = True)

In [10]:
df_pyspark.show()

+----+----+--------+-------+--------+--------+----------+--------+-------+-------+-------+----------+
|  CA|UNIT|     SCP|STATION|LINENAME|DIVISION|      DATE|    TIME|   DESC|ENTRIES|  EXITS| file_name|
+----+----+--------+-------+--------+--------+----------+--------+-------+-------+-------+----------+
|A002|R051|02-00-00|  59 ST| NQR456W|     BMT|02/01/2020|03:00:00|REGULAR|7364079|2496560|2020-02-08|
|A002|R051|02-00-00|  59 ST| NQR456W|     BMT|02/01/2020|07:00:00|REGULAR|7364091|2496574|2020-02-08|
|A002|R051|02-00-00|  59 ST| NQR456W|     BMT|02/01/2020|11:00:00|REGULAR|7364143|2496660|2020-02-08|
|A002|R051|02-00-00|  59 ST| NQR456W|     BMT|02/01/2020|15:00:00|REGULAR|7364321|2496724|2020-02-08|
|A002|R051|02-00-00|  59 ST| NQR456W|     BMT|02/01/2020|19:00:00|REGULAR|7364630|2496779|2020-02-08|
|A002|R051|02-00-00|  59 ST| NQR456W|     BMT|02/01/2020|23:00:00|REGULAR|7364808|2496820|2020-02-08|
|A002|R051|02-00-00|  59 ST| NQR456W|     BMT|02/02/2020|03:00:00|REGULAR|7364857|2496828|2020-02-08|
|A002|R051|02-00-00|  59 ST| NQR456W|     BMT|02/02/2020|07:00:00|REGULAR|7364861|2496833|2020-02-08|
|A002|R051|02-00-00|  59 ST| NQR456W|     BMT|02/02/2020|11:00:00|REGULAR|7364905|2496882|2020-02-08|
|A002|R051|02-00-00|  59 ST| NQR456W|     BMT|02/02/2020|15:00:00|REGULAR|7365062|2496935|2020-02-08|
|A002|R051|02-00-00|  59 ST| NQR456W|     BMT|02/02/2020|19:00:00|REGULAR|7365256|2496989|2020-02-08|
|A002|R051|02-00-00|  59 ST| NQR456W|     BMT|02/02/2020|23:00:00|REGULAR|7365408|2497006|2020-02-08|
|A002|R051|02-00-00|  59 ST| NQR456W|     BMT|02/03/2020|03:00:00|REGULAR|7365427|2497019|2020-02-08|
|A002|R051|02-00-00|  59 ST| NQR456W|     BMT|02/03/2020|07:00:00|REGULAR|7365437|2497061|2020-02-08|
|A002|R051|02-00-00|  59 ST| NQR456W|     BMT|02/03/2020|11:00:00|REGULAR|7365579|2497329|2020-02-08|
|A002|R051|02-00-00|  59 ST| NQR456W|     BMT|02/03/2020|15:00:00|REGULAR|7365773|2497396|2020-02-08|
|A002|R051|02-00-00|  59 ST| NQR456W|     BMT|02/03/2020|19:00:00|REGULAR|7366404|2497538|2020-02-08|
|A002|R051|02-00-00|  59 ST| NQR456W|     BMT|02/03/2020|23:00:00|REGULAR|7366662|2497572|2020-02-08|
|A002|R051|02-00-00|  59 ST| NQR456W|     BMT|02/04/2020|03:00:00|REGULAR|7366695|2497580|2020-02-08|
|A002|R051|02-00-00|  59 ST| NQR456W|     BMT|02/04/2020|07:00:00|REGULAR|7366709|2497617|2020-02-08|
+----+----+--------+-------+--------+--------+----------+--------+-------+-------+-------+----------+
only showing top 20 rows

In [20]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

### Head with Spark

In [16]:
df_pyspark.head(3)

[Row(CA='A002', UNIT='R051', SCP='02-00-00', STATION='59 ST', LINENAME='NQR456W', DIVISION='BMT', DATE='02/01/2020', TIME='03:00:00', DESC='REGULAR', ENTRIES='7364079', EXITS='2496560', file_name='2020-02-08'),
 Row(CA='A002', UNIT='R051', SCP='02-00-00', STATION='59 ST', LINENAME='NQR456W', DIVISION='BMT', DATE='02/01/2020', TIME='07:00:00', DESC='REGULAR', ENTRIES='7364091', EXITS='2496574', file_name='2020-02-08'),
 Row(CA='A002', UNIT='R051', SCP='02-00-00', STATION='59 ST', LINENAME='NQR456W', DIVISION='BMT', DATE='02/01/2020', TIME='11:00:00', DESC='REGULAR', ENTRIES='7364143', EXITS='2496660', file_name='2020-02-08')]

### Schema of Spark Dataframe

In [19]:
df_pyspark.printSchema()

root
 |-- CA: string (nullable = true)
 |-- UNIT: string (nullable = true)
 |-- SCP: string (nullable = true)
 |-- STATION: string (nullable = true)
 |-- LINENAME: string (nullable = true)
 |-- DIVISION: string (nullable = true)
 |-- DATE: string (nullable = true)
 |-- TIME: string (nullable = true)
 |-- DESC: string (nullable = true)
 |-- ENTRIES: string (nullable = true)
 |-- EXITS: string (nullable = true)
 |-- file_name: string (nullable = true)

### Spark dataframe to Pandas

In [23]:
pd_frame = df_pyspark.toPandas()

In [24]:
type(pd_frame)

pandas.core.frame.DataFrame

In [25]:
del pd_frame