In [1]:
import os
os.chdir(r'C:\Users\Anant Awasthi\Desktop\Desktop\PySpark')

### Initiate a Spark Session

In [2]:
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Spark').getOrCreate()
spark

### Import a CSV

In [3]:
df_pyspark = spark.read.csv("C:/Users/Anant Awasthi/Desktop/Desktop/PySpark/Data/Combind_data.csv", sep="|", header = True)

In [4]:
df_pyspark.show()

+----+----+--------+-------+--------+--------+----------+--------+-------+-------+-------+----------+
|  CA|UNIT|     SCP|STATION|LINENAME|DIVISION|      DATE|    TIME|   DESC|ENTRIES|  EXITS| file_name|
+----+----+--------+-------+--------+--------+----------+--------+-------+-------+-------+----------+
|A002|R051|02-00-00|  59 ST| NQR456W|     BMT|12/22/2018|03:00:00|REGULAR|6881995|2333630|2018-12-29|
|A002|R051|02-00-00|  59 ST| NQR456W|     BMT|12/22/2018|07:00:00|REGULAR|6882006|2333643|2018-12-29|
|A002|R051|02-00-00|  59 ST| NQR456W|     BMT|12/22/2018|11:00:00|REGULAR|6882062|2333740|2018-12-29|
|A002|R051|02-00-00|  59 ST| NQR456W|     BMT|12/22/2018|15:00:00|REGULAR|6882243|2333800|2018-12-29|
|A002|R051|02-00-00|  59 ST| NQR456W|     BMT|12/22/2018|19:00:00|REGULAR|6882590|2333868|2018-12-29|
|A002|R051|02-00-00|  59 ST| NQR456W|     BMT|12/22/2018|23:00:00|REGULAR|6882787|2333916|2018-12-29|
|A002|R051|02-00-00|  59 ST| NQR456W|     BMT|12/23/2018|03:00:00|REGULAR|6882830|2333933|2018-12-29|
|A002|R051|02-00-00|  59 ST| NQR456W|     BMT|12/23/2018|07:00:00|REGULAR|6882834|2333939|2018-12-29|
|A002|R051|02-00-00|  59 ST| NQR456W|     BMT|12/23/2018|11:00:00|REGULAR|6882878|2333982|2018-12-29|
|A002|R051|02-00-00|  59 ST| NQR456W|     BMT|12/23/2018|15:00:00|REGULAR|6883024|2334025|2018-12-29|
|A002|R051|02-00-00|  59 ST| NQR456W|     BMT|12/23/2018|19:00:00|REGULAR|6883274|2334065|2018-12-29|
|A002|R051|02-00-00|  59 ST| NQR456W|     BMT|12/23/2018|23:00:00|REGULAR|6883438|2334090|2018-12-29|
|A002|R051|02-00-00|  59 ST| NQR456W|     BMT|12/24/2018|03:00:00|REGULAR|6883470|2334101|2018-12-29|
|A002|R051|02-00-00|  59 ST| NQR456W|     BMT|12/24/2018|07:00:00|REGULAR|6883478|2334131|2018-12-29|
|A002|R051|02-00-00|  59 ST| NQR456W|     BMT|12/24/2018|11:00:00|REGULAR|6883541|2334266|2018-12-29|
|A002|R051|02-00-00|  59 ST| NQR456W|     BMT|12/24/2018|15:00:00|REGULAR|6883842|2334322|2018-12-29|
|A002|R051|02-00-00|  59 ST| NQR456W|     BMT|12/24/2018|19:00:00|REGULAR|6884293|2334372|2018-12-29|
|A002|R051|02-00-00|  59 ST| NQR456W|     BMT|12/24/2018|23:00:00|REGULAR|6884382|2334382|2018-12-29|
|A002|R051|02-00-00|  59 ST| NQR456W|     BMT|12/25/2018|03:00:00|REGULAR|6884397|2334394|2018-12-29|
|A002|R051|02-00-00|  59 ST| NQR456W|     BMT|12/25/2018|07:00:00|REGULAR|6884401|2334398|2018-12-29|
+----+----+--------+-------+--------+--------+----------+--------+-------+-------+-------+----------+
only showing top 20 rows

In [5]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

### Metadata of dataframe

In [9]:
print(df_pyspark.count(), len(df_pyspark.columns))

12107424 12

In [10]:
df_pyspark.dtypes

[('CA', 'string'),
 ('UNIT', 'string'),
 ('SCP', 'string'),
 ('STATION', 'string'),
 ('LINENAME', 'string'),
 ('DIVISION', 'string'),
 ('DATE', 'string'),
 ('TIME', 'string'),
 ('DESC', 'string'),
 ('ENTRIES', 'string'),
 ('EXITS', 'string'),
 ('file_name', 'string')]

### Schema of Spark Dataframe

In [19]:
df_pyspark.printSchema()

root
 |-- CA: string (nullable = true)
 |-- UNIT: string (nullable = true)
 |-- SCP: string (nullable = true)
 |-- STATION: string (nullable = true)
 |-- LINENAME: string (nullable = true)
 |-- DIVISION: string (nullable = true)
 |-- DATE: string (nullable = true)
 |-- TIME: string (nullable = true)
 |-- DESC: string (nullable = true)
 |-- ENTRIES: string (nullable = true)
 |-- EXITS: string (nullable = true)
 |-- file_name: string (nullable = true)

In [25]:
del pd_frame